.app-container {
  text-align: center;
  background-color:linear-gradient(135deg, #74ebd5 0%, #9face6 100%);
  min-height: 100vh;
  padding: 40px 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #2c3e50;
}

.title {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
}

